@{
    ViewData["Title"] = "GAF";
    Layout = "_Layout";
}
@using FormatterClient.Models;
@model Country

<style>
    .center form {
        width: 100%;
    }

    .center select {
        width: 100%;
    }
</style>

<section class="center">
    @using (Html.BeginForm("Details", "Home", FormMethod.Post, new { id = "Country" }))
    {
        @Html.DropDownList("CountryCode")
    }
</section>

<script type="text/javascript">
    document
    .getElementById("CountryCode")
    .addEventListener('change', e => {
        document.getElementById("Country").submit();
    });
</script>